*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#061421;

color:white;

overflow-x:hidden;

}

header{

position:fixed;

width:100%;

top:0;

background:rgba(6,20,33,.9);

backdrop-filter:blur(10px);

z-index:999;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

}

.logo{

font-size:34px;

font-weight:800;

letter-spacing:1px;

color:#00d4ff;

}

nav ul{

display:flex;

list-style:none;

}

nav ul li{

margin-left:35px;

}

nav a{

color:white;

text-decoration:none;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#00d4ff;

}

.hero{

display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
min-height:100vh;
padding:120px 8%;
gap:60px;

}
.hero-left{

max-width:650px;

}

.hero-left h4{

color:#00d4ff;

letter-spacing:4px;

margin-bottom:20px;

}

.hero-left h1{

font-size:64px;

line-height:1.2;

margin-bottom:30px;

}

.hero-left span{

color:#00d4ff;

}

.hero-left p{

font-size:20px;

line-height:1.8;

color:#d8d8d8;

margin-bottom:40px;

}

.buttons{

display:flex;

gap:20px;

}

.btn{

background:#00d4ff;

padding:15px 35px;

border-radius:40px;

color:#061421;

text-decoration:none;

font-weight:bold;

transition:.4s;

}

.btn:hover{

transform:translateY(-5px);

}

.btn2{

border:2px solid #00d4ff;

padding:15px 35px;

border-radius:40px;

color:white;

text-decoration:none;

transition:.4s;

}

.btn2:hover{

background:#00d4ff;

color:#061421;

}

.hero-right{

display:flex;
justify-content:center;
align-items:center;

}

.circle{

width:380px;
height:380px;

border-radius:50%;

background:radial-gradient(circle,#00d4ff,#0066ff);

display:flex;

justify-content:center;

align-items:center;

font-size:130px;

box-shadow:0 0 80px rgba(0,212,255,.7);

animation:float 4s ease-in-out infinite;

}
@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0px);

}

}
body::before{

content:"";

position:fixed;

width:600px;
height:600px;

background:#00d4ff;

border-radius:50%;

filter:blur(250px);

opacity:.12;

top:-200px;
right:-200px;

z-index:-1;

}
