*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#081b29;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#071420;

}

.logo{

font-size:28px;
font-weight:bold;
color:#00e5ff;

}

nav ul{

display:flex;
list-style:none;

}

nav li{

margin-left:30px;

}

nav a{

text-decoration:none;
color:white;
transition:.3s;

}

nav a:hover{

color:#00e5ff;

}

.hero{

height:90vh;

display:flex;
justify-content:center;
align-items:center;
text-align:center;

padding:40px;

}

.hero-text{

max-width:900px;

}

.hero h1{

font-size:60px;

margin-bottom:25px;

}

.hero p{

font-size:22px;

line-height:1.8;

margin-bottom:40px;

}

.btn{

background:#00e5ff;

padding:15px 40px;

border-radius:50px;

text-decoration:none;

font-weight:bold;

color:#081b29;

transition:.3s;

}

.btn:hover{

background:white;

}